<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.charlesmadere.hummingbird"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:name=".Hummingbird"
        android:supportsRtl="true"
        android:theme="@style/HummingbirdTheme_Light">

        <activity
            android:label=""
            android:name=".activities.AnimeActivity"
            android:theme="@style/HummingbirdTheme_Light.WithDrawer" />

        <activity
            android:launchMode="singleTop"
            android:name=".activities.CurrentUserActivity"
            android:theme="@style/HummingbirdTheme_Light.WithDrawer" />

        <activity
            android:label=""
            android:name=".activities.GalleryActivity"
            android:parentActivityName=".activities.GalleryActivity"
            android:theme="@style/HummingbirdTheme_Dark">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AnimeActivity" />
        </activity>

        <activity
            android:label="@string/hummingbird"
            android:launchMode="singleTop"
            android:name=".activities.LoginActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:label="@string/log_viewer"
            android:launchMode="singleTop"
            android:name=".activities.LogViewerActivity"
            android:parentActivityName=".activities.SettingsActivity"
            android:theme="@style/HummingbirdTheme_Light.WithDrawer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SettingsActivity" />
        </activity>

        <activity
            android:label="@string/search"
            android:launchMode="singleTop"
            android:name=".activities.SearchActivity" />

        <activity
            android:label="@string/settings"
            android:launchMode="singleTop"
            android:name=".activities.SettingsActivity"
            android:theme="@style/HummingbirdTheme_Light.WithDrawer" />

        <activity
            android:label=""
            android:name=".activities.UserActivity"
            android:theme="@style/HummingbirdTheme_Light.WithDrawer" />

    </application>

</manifest>
