<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.charlesmadere.hummingbird">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/launcher"
        android:label="@string/that_lil_hummingbird"
        android:name=".ThatLilHummingbird"
        android:supportsRtl="true"
        android:theme="@style/HummingbirdTheme_Splash">

        <activity
            android:label=""
            android:name=".activities.AnimeActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer" />

        <activity
            android:label="@string/anime_library"
            android:name=".activities.AnimeLibraryActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer" />

        <activity
            android:label="@string/anime_quotes_title"
            android:name=".activities.AnimeQuotesActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer" />

        <activity
            android:label="@string/anime_review"
            android:name=".activities.AnimeReviewActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer" />

        <activity
            android:label="@string/anime_reviews_title"
            android:name=".activities.AnimeReviewsActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer" />

        <activity
            android:label="@string/app_news"
            android:launchMode="singleTop"
            android:name=".activities.AppNewsActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer" />

        <activity
            android:label=""
            android:name=".activities.CommentsActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer"
            android:windowSoftInputMode="adjustResize|stateUnchanged" />

        <activity
            android:label="@string/my_anime_library"
            android:launchMode="singleTop"
            android:name=".activities.CurrentUserAnimeLibraryActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer" />

        <activity
            android:label="@string/my_manga_library"
            android:launchMode="singleTop"
            android:name=".activities.CurrentUserMangaLibraryActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer" />

        <activity
            android:label="@string/feed"
            android:launchMode="singleTop"
            android:name=".activities.FeedActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer" />

        <activity
            android:label="@string/followers"
            android:name=".activities.FollowersActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer" />

        <activity
            android:label="@string/following"
            android:name=".activities.FollowingActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer" />

        <activity
            android:label=""
            android:name=".activities.GalleryActivity"
            android:theme="@style/HummingbirdTheme_Gallery" />

        <activity
            android:label=""
            android:name=".activities.GroupActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer" />

        <activity
            android:label="@string/group_members"
            android:name=".activities.GroupMembersActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer" />

        <activity
            android:launchMode="singleTop"
            android:name=".activities.LoginActivity"
            android:noHistory="true"
            android:theme="@style/HummingbirdTheme_Login"
            android:windowSoftInputMode="adjustPan|stateUnchanged">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="hummingbird.me" android:scheme="https" />
                <data android:host="hummingbird.me" android:scheme="http" />
                <data android:host="www.hummingbird.me" android:scheme="https" />
                <data android:host="www.hummingbird.me" android:scheme="http" />
            </intent-filter>
        </activity>

        <activity
            android:label="@string/log_viewer"
            android:launchMode="singleTop"
            android:name=".activities.LogViewerActivity"
            android:parentActivityName=".activities.SettingsActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SettingsActivity" />
        </activity>

        <activity
            android:label=""
            android:name=".activities.MangaActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer" />

        <activity
            android:label="@string/manga_library"
            android:name=".activities.MangaLibraryActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer" />

        <activity
            android:label=""
            android:name=".activities.MediaStoryActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer" />

        <activity
            android:label="@string/notifications"
            android:launchMode="singleTop"
            android:name=".activities.NotificationsActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer" />

        <activity
            android:label=""
            android:launchMode="singleTop"
            android:name=".activities.SearchActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:label="@string/settings"
            android:launchMode="singleTop"
            android:name=".activities.SettingsActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer" />

        <activity
            android:launchMode="singleTop"
            android:name=".activities.SplashActivity"
            android:theme="@style/HummingbirdTheme_Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:label=""
            android:name=".activities.StoryActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer" />

        <activity
            android:label=""
            android:name=".activities.UserActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer" />

        <activity
            android:label="@string/anime_reviews_title"
            android:name=".activities.UserAnimeReviewsActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer" />

        <activity
            android:label="@string/groups"
            android:name=".activities.UserGroupsActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bd8750ba792168bfa4d0bc52e19ad83a6fad27c3" />

        <service
            android:exported="true"
            android:name=".misc.SyncManager"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>

    </application>

</manifest>
