<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.charlesmadere.hummingbird">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:label="@string/that_lil_hummingbird"
        android:name=".ThatLilHummingbird"
        android:supportsRtl="true"
        android:theme="@style/HummingbirdTheme_Splash">

        <activity
            android:label=""
            android:name=".activities.AnimeActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer" />

        <activity
            android:label=""
            android:name=".activities.AnimeReviewActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer" />

        <activity
            android:label=""
            android:name=".activities.CommentsActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer"
            android:windowSoftInputMode="adjustResize|stateUnchanged" />

        <activity
            android:label="@string/followers"
            android:name=".activities.FollowersActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer" />

        <activity
            android:label="@string/following"
            android:name=".activities.FollowingActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer" />

        <activity
            android:label=""
            android:name=".activities.GalleryActivity"
            android:theme="@style/HummingbirdTheme_Gallery" />

        <activity
            android:label=""
            android:name=".activities.GroupActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer" />

        <activity
            android:label="@string/home"
            android:launchMode="singleTop"
            android:name=".activities.HomeActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer" />

        <activity
            android:launchMode="singleTop"
            android:name=".activities.LoginActivity"
            android:theme="@style/HummingbirdTheme_Login"
            android:windowSoftInputMode="adjustPan|stateUnchanged" />

        <activity
            android:label="@string/log_viewer"
            android:launchMode="singleTop"
            android:name=".activities.LogViewerActivity"
            android:parentActivityName=".activities.SettingsActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SettingsActivity" />
        </activity>

        <activity
            android:label=""
            android:name=".activities.MangaActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer" />

        <activity
            android:label="@string/notifications"
            android:name=".activities.NotificationsActivity"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.HomeActivity" />
        </activity>

        <activity
            android:label=""
            android:launchMode="singleTop"
            android:name=".activities.SearchActivity"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.HomeActivity" />
        </activity>

        <activity
            android:label="@string/settings"
            android:launchMode="singleTop"
            android:name=".activities.SettingsActivity"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.HomeActivity" />
        </activity>

        <activity
            android:launchMode="singleTop"
            android:name=".activities.SplashActivity"
            android:theme="@style/HummingbirdTheme_Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:label=""
            android:name=".activities.UserActivity"
            android:theme="@style/HummingbirdTheme.WithDrawer" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bd8750ba792168bfa4d0bc52e19ad83a6fad27c3" />

    </application>

</manifest>
